# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
.vite/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Windows 系统生成的缩略图缓存文件
Thumbs.db
ehthumbs.db
Desktop.ini

# 忽略备份数据文件 (防止隐私上传)
research_hub_backup_*.json
backupJSON/
